<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Farmacia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletEmpleadoFaJSON</display-name>
    <servlet-name>ServletEmpleadoFaJSON</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletEmpleadoFaJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmpleadoFaJSON</servlet-name>
    <url-pattern>/ServletEmpleadoFaJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEmpleadoFa</display-name>
    <servlet-name>ServletEmpleadoFa</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletEmpleadoFa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmpleadoFa</servlet-name>
    <url-pattern>/ServletEmpleadoFa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTipoUsuarioFaJSON</display-name>
    <servlet-name>ServletTipoUsuarioFaJSON</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletTipoUsuarioFaJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTipoUsuarioFaJSON</servlet-name>
    <url-pattern>/ServletTipoUsuarioFaJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUsuarioFa</display-name>
    <servlet-name>ServletUsuarioFa</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletUsuarioFa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUsuarioFa</servlet-name>
    <url-pattern>/ServletUsuarioFa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInventarioFa</display-name>
    <servlet-name>ServletInventarioFa</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletInventarioFa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInventarioFa</servlet-name>
    <url-pattern>/ServletInventarioFa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInventarioFaJSON</display-name>
    <servlet-name>ServletInventarioFaJSON</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletInventarioFaJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInventarioFaJSON</servlet-name>
    <url-pattern>/ServletInventarioFaJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPedidoFa</display-name>
    <servlet-name>ServletPedidoFa</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletPedidoFa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPedidoFa</servlet-name>
    <url-pattern>/ServletPedidoFa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPedidoFaJSON</display-name>
    <servlet-name>ServletPedidoFaJSON</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletPedidoFaJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPedidoFaJSON</servlet-name>
    <url-pattern>/ServletPedidoFaJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProveedoresJSON</display-name>
    <servlet-name>ServletProveedoresJSON</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletProveedoresJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProveedoresJSON</servlet-name>
    <url-pattern>/ServletProveedoresJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPedidosFaJSON</display-name>
    <servlet-name>ServletPedidosFaJSON</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletPedidoFaJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPedidosFaJSON</servlet-name>
    <url-pattern>/ServletPedidosFaJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProveedorFa</display-name>
    <servlet-name>ServletProveedorFa</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletProveedorFa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProveedorFa</servlet-name>
    <url-pattern>/ServletProveedorFa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletHistorialVentaJSON</display-name>
    <servlet-name>ServletHistorialVentaJSON</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletHistorialVentaJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHistorialVentaJSON</servlet-name>
    <url-pattern>/ServletHistorialVentaJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletHistorialVenta</display-name>
    <servlet-name>ServletHistorialVenta</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletHistorialVenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHistorialVenta</servlet-name>
    <url-pattern>/ServletHistorialVenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEmision</display-name>
    <servlet-name>ServletEmision</servlet-name>
    <servlet-class>com.farmacia.controlador.ServletEmision</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmision</servlet-name>
    <url-pattern>/ServletEmision</url-pattern>
  </servlet-mapping>
</web-app>